h1,h2, h5 {
    font-family: 'Abril Fatface', cursive;
}
/* NAVBAR - Styling for navbar-brand and nav-link*/
.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.3rem;    
}
.nav-link-custom {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.1rem;
}

/* BODY - Set fixed background image */
body {
    height : 200px;
    height: auto;
    background-image: url('../images/palmtrees.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#portrait {
    height : 15rem;
    width : auto;
}

/*animation for bouncing logos of skills logo*/
.logo1 {
    height : 8rem;
    width : auto;
    position: relative;
    animation-name: drop-codes;
    animation-duration: 3s;
}
@keyframes drop-codes {
  0%   { left:0px; top:-100px;}
  10%  { left:0; top:0px;}
  20%  { left:0px; top:-50px;}
  35%  { left:0px; top:0px;}
  50%  { left:0px; top:-25px;}
  65%  { left:0px; top:0px;}
  75%  { left:0px; top:-12px;}
  85%  { left:0px; top:0px;}
  100% { left:0px; top:0px;}
}
.logo2 {
    height : 8rem;
    width : auto;
    position: relative;
    animation-name: drop-codes;
    animation-duration: 6s;
}
@keyframes drop-codes {
  0%   { left:0px; top:-100px;}
  15%  { left:0; top:0px;}
  25%  { left:0px; top:-50px;}
  35%  { left:0px; top:0px;}
  50%  { left:0px; top:-25px;}
  65%  { left:0px; top:0px;}
  85%  { left:0px; top:-12px;}
  100% { left:0px; top:0px;}
}
.logo3 {
    height : 8rem;
    width : auto;
    position: relative;
    animation-name: drop-codes;
    animation-duration: 5s;
}
@keyframes drop-codes {
  0%   { left:0px; top:-100px;}
  18%  { left:0; top:0px;}
  29%  { left:0px; top:-50px;}
  35%  { left:0px; top:0px;}
  45%  { left:0px; top:-25px;}
  55%  { left:0px; top:0px;}
  75%  { left:0px; top:-12px;}
  85%  { left:0px; top:-0px;}
  95%  { left:0px; top:-25px;}
  100% { left:0px; top:0px;}
}
.logo4 {
    height : 8rem;
    width : auto;
    position: relative;
    animation-name: drop-codes;
    animation-duration: 8s;
}
@keyframes drop-codes {
  0%   { left:0px; top:-100px;}
  15%  { left:0; top:0px;}
  25%  { left:0px; top:-50px;}
  35%  { left:0px; top:0px;}
  50%  { left:0px; top:-25px;}
  65%  { left:0px; top:0px;}
  85%  { left:0px; top:-12px;}
  100% { left:0px; top:0px;}
}

/*CONTACT - background image*/
#contact {
    /*height : 200px;*/
    height: auto;
    background-image: url('../images/bay.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Social Media */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


