h1,h2, h5 {
    font-family: 'Abril Fatface', cursive;
}

body {
    height : 200px;
    height: auto;
    background-image: url('../images/palmtrees.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}